<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>PWR-edirect - <%= name %></title>
  <meta property="og:title" content="PWR-edirect - <%= name %>">
  <meta property="og:description" content="Proste skróty przekierowań do najważniejszych stron studenta PWR ✨">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://sitarz.tk/pwr-edirect/<%= endpoint %>">
  <meta name="theme-color" content="#ffffff">
  <link rel="manifest" href="/<%= endpoint %>/manifest.json">
  <link rel="icon" type="image/png" href="/<%= endpoint %>/icon-512.png" />
  <link rel="shortcut icon" type="image/png" href="/<%= endpoint %>/icon-512.png" />
  <link rel="stylesheet" href="../style.css">
</head>
<body>
  <script>
    if ((new URL(window.location.href)).searchParams.get('reset') !== null)
      localStorage.removeItem('always');

    if (localStorage.always != null)
      window.location = "<%= url %>";
  </script>
  <main>
    <h1><%= name %></h1>
    <input id="redirect" type="button" value="przejdź">
    <label>
      <input id="always" type="checkbox" checked>
      <div id="checkbox"></div>
      <span>zawsze</span>
    </label>
  </main>
  <noscript>You have to enable JavaScript to use this tool.</noscript>
  <script>
    document.getElementById('redirect').onclick = () => {
      if (document.getElementById('always').checked)
        localStorage.always = "";
      window.location = "<%= url %>";
    }

    if ('serviceWorker' in navigator)
      navigator.serviceWorker.register(`/<%= endpoint %>/service-worker.js`, {
        scope: `/<%= endpoint %>`
      });
  </script>
</body>

</html>
